// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and (max-width:576px){
    html {
        font-size: 16px;
    }
    .h4 {
        font-size: 1rem;
    }
}

select {
    // display: block;
    // width: 100%;
    -webkit-appearance: button;
    appearance: button;
    font-size: 2rem;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #bbb;
    font-weight: bold;
}

.btn-toppage {
    font-size: 1rem;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    color: black;
    
}

.display-4{
    font-size: 1rem;
    font-weight: normal !important;
}

th > p {
    font-size: 16px;
    color: gray;
    margin-bottom: 0;
}

.thead-result{
    color: white;
    background-color: #9f9f9f;
    border: 0;
}