// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

select {
    display: block;
    width: 100%;
    font-size: 40px;
}

.btn-toppage {
    font-size: 30px;
    font-weight: bold;
}

.display-4{
    font-size: 40px;
}