// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-border{
    border-width: 5px;
    border-style: solid;
    border-color: #ccc;
}